pretty_print_tree.py
submit.py
tree.example
cfg.counts
count_cfg_freq.py
eval_parser.py
parse_dev.dat
parse_dev.key
parse_test.dat
parse_train.dat
parse_train_vert.dat
parse_train.dat.replaced
parse_train.counts.out
parse_dev.out
parse_dev.dat.out
