pretty_print_tree.py
submit.py
tree.example
cfg.counts
count_cfg_freq.py
eval_parser.py
parse_dev.dat
parse_dev.key
parse_test.dat
parse_train.dat
parse_train_vert.dat
parse_train.dat.replaced
parse_train.counts.out
parse_dev.out
parse_dev.dat.out
parse_test.p2.out
parse_test.dat.out
parse_dev.dat.out.non_vert_mark
parse_dev.dat.out.vert_mark
parse_test.dat.out.non_vert_mark
parse_test.dat.out.vert_mark
parse_test.p3.out
parse_train_vert.counts.out
parse_train_vert.dat.replaced
